body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  button{
    height: 60px;
    width: 200px;
    margin-left: 50%;
    margin-top: 10%;
  }


  .buttons{
    color: red;
    font-size: 3rem;
  }

  .buttons{
    background-color: rgb(54, 66, 66);
  }